<!DOCTYPE html>
<html>
<head>
	<title>Summer2016</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/profile/assets/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic' rel='stylesheet' type='text/css'>
	<style type="text/css">
		div.bg{
			background:url('/profile/background.png');
			background-size: initial;
			
			opacity:0.6;

		}
		div.inner{
			opacity: 1;
			color:white;
		}
		td{

		}
		a {
			color: white;
		}
	</style>
</head>
<body id="demo" class="dark portrait big-mobile" >
<header id="demo-header">
	<div class="left ">
		<h2>2016 Summer</h2>

		<a href="/index" class="icon style2 fa-home" style="color:white;margin-top:2%; "><span class="label">home</span></a>
	
		
		
	</div>
	<div class="right ">
		<!-- <ul class="share">

			<li class="facebook"><div class="fb-like fb_iframe_widget" data-href="http://html5up.net/phantom" data-send="false" data-layout="button" data-width="100" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 51px; height: 20px;"><iframe name="f13d5e85c655a5" width="100px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df122154e97496e4%26domain%3Dhtml5up.net%26origin%3Dhttps%253A%252F%252Fhtml5up.net%252Ff2e57bd0d6391e4%26relation%3Dparent.parent&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 51px; height: 20px;" class=""></iframe></span></div></li>
			<li></li>

			
		</ul> -->

		<!-- <a href="/" class="button back alt2" id="nav_bot">Book</a> -->
		<!-- <a href="/" class="button back alt2" id="nav_bot">Note</a> -->
		<a href="/rank" class="button back alt2" id="nav_bot">Rank</a>
		<a href="/profile" class="button back alt2" id="nav_bot">Profile</a>
		<!-- <a href="#menu" id="top_menu">Menu</a> -->
	</div>
</header>

<% var sum1 = 0, sum2 = 0 %>
<% user.rank.python.forEach(function(p) { %>
	<% if (p) { %>
		<% sum1 += p %>	
	<% } %>
<% }) %>
<% user.rank.cpp.forEach(function(p) { %>
	<% if (p) { %>
		<% sum2 += p %>	
	<% } %>
	
<% }) %>
<% var sum = sum1 + sum2  %>
<h1><%= user.nickname %> - <%= sum %></h1>
<br><br><br>
<h2>Python</h2>
<div class='bg'>
	<div class='inner'>

<table>
<tr>
	<th>Problem No.</th>
	<th>Status</th>
	<th>Score</th>
</tr>
	<% for (var i = 0; i < pyCnt; i++) { %>
	<tr>
		<% if (user.judges.python[i]) { %>
			<% var a = py[i]._id %>

			<td><a href="/class/python/judge/<%=a%>">py.<%= i + 1 %></a></a></td>
			<td><%= user.judges.python[i] %></td>
			<td><%= user.rank.python[i] %></td>
		<% } else {%>
		<% var a = py[i] %>
			
			<td><a href="/class/python/judge/<%=a%>">py.<%= i + 1 %></a></a></td>
			<td>N/A</td>
			<td>0</td>
		<% } %>	
	</tr>
	
<% } %>	
</table>
</div></div>
<hr>
<h2>C++</h2>
<div class='bg'><div class='inner'>

<table>
<tr>
	<th>Problem No.</th>
	<th>Status</th>
	<th>Score</th>
</tr>
	<% for (var i = 0; i < cppCnt; i++) { %>
	<tr>
		<% if (user.judges.cpp[i]) { %>
		<% var b = cpp[i]._id %>
			
			<td><a href="/class/cpp/judge/<%=b%>">c.<%= i + 1 %></a></a></td>
			<td><%= user.judges.cpp[i] %></td>
			<td><%= user.rank.cpp[i] %></td>
		<% } else {%>
		<% var b = cpp[i] %>
			
			<td><a href="/class/cpp/judge/<%=b%>">c.<%= i + 1 %></a></a></td>
			<td>N/A</td>
			<td>0</td>
		<% } %>	
	</tr>
	
<% } %>	
</table>
</div></div>

<% include ../partials/footer.ejs %>
