<% include ../partials/header.ejs %>
<h1>Username - <%= currentUser.username %></h1>
<% var sum = currentUser.rank.python + currentUser.rank.cpp + currentUser.rank.java %>
<p>Score - <%= sum %></p>
<ul>
<li>Python</li>
<% for (var i = 0; i < 10; i++) { %>
	<li><%= i + 1 %> - <%= currentUser.judges.python[i] %></li>
<% } %>
</ul>
<ul>
<li>C++</li>
<% for (var i = 0; i < 10; i++) { %>
	<li><%= i + 1 %> - <%= currentUser.judges.cpp[i] %></li>
<% } %>
</ul>
<ul>

<% include ../partials/footer.ejs %>