<% include ../partials/header.ejs %>
<h1>Edit Judge</h1>
<form action='/class/<%= inforClass.name %>/judge/<%= judge._id %>?_method=PUT' method='POST'>
	<input type="text" name="name" value="<%= judge.name %>">
	<input type="text" name="number" value="<%= judge.number %>">
	<label>Description<textarea name='description' required wrap='Virtual'><%= judge.description %></textarea></label>
	<label>Sample Input<textarea name='exInput' required wrap="Virtual"></textarea></label>
	<label>Sample Output<textarea name='exOutput' required wrap="Virtual"></textarea></label>
	<% for (var i = 0; i < judge.data; i++) { %>
	<label>Input<%=i + 1%><textarea name='input[<%=i%>]'><%= judge.input[i] %></textarea></label>
	<label>Output<%=i + 1%><textarea name='output[<%=i%>]'><%= judge.output[i] %></textarea></label>

		<% } %>
	
	<button>Edit</button>
</form>
<% include ../partials/footer.ejs %>