<% include ../partials/header.ejs %>
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
					<a href="/" class="logo">
						<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">INFOR x ZSISC</span>
					</a>

				<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>

			</div>
		</header>
		
	<!-- Menu -->
		<nav id="menu">
	<h2><%= realClassName[inforClass.name] %></h2>
	<ul>
		<li><a href="/">Home</a></li>
		<!-- <hr id='jizz'> -->
		<!-- <li><a href="#p1">What is Python</a></li>
		<li><a href="#p2">Variable</a></li>
		<li><a href="#p3">Function</a></li>
		<li><a href="#p4">Class</a></li>
		<hr id='jizz'> -->
		<li><a href="/class/<%= inforClass.name%>">Book</a></li>	
		<li><a href="/class/<%= inforClass.name %>/note">Notes</a></li>
		<% if (inforClass.name == 'python' || inforClass.name == 'cpp' || inforClass.name == 'java') { %>
			<li><a href="/class/<%= inforClass.name %>/judge">Judge</a></li>
		<% } %>
		<li><a href="/profile">Profile</a></li>
	</ul>
</nav>

	<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>Notes - <%=realClassName[inforClass.name] %></h1>

				<!-- Text -->
					<section>
					<% inforClass.notes.forEach(function(note) { %>
						<pre><code><%= note.content %></code></pre>
						<em><%= note.create.toDateString() %></em>
						<% if (include(roots, currentUser.username)) { %>
							<button><a href="/class/<%= inforClass.name %>/note/<%= note._id %>/edit">Edit</a></button>
							<form action='/class/<%= inforClass.name %>/note/<%= note._id %>?_method=delete' method='POST' class='deleteForm'>
								<button>Delete</button>
							</form>
						<% } %>
						
					<% }) %>
					<% if (include(roots, currentUser.username)) { %>
						<button><a href="/class/<%= inforClass.name %>/note/new">New Notes</a></button>
					<% } %>
					</section>
			</div>
		</div>

	<!-- Footer -->
	

</div>
<% include ../partials/footer.ejs %>